

  .countryGridDesign{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    min-height: 20rem;
    min-width: 20rem; 

}

.placeholder {
  min-height: 300px;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 18px;
  border: 1px dashed #ccc; 
}